[submodule "dm-core"]
	path = dm-core
	url = https://github.com/emmanuel/dm-core.git
[submodule "dm-types"]
	path = dm-types
	url = https://github.com/emmanuel/dm-types
[submodule "dm-validations"]
	path = dm-validations
	url = https://github.com/emmanuel/dm-validations
[submodule "dm-do-adapter"]
	path = dm-do-adapter
	url = https://github.com/datamapper/dm-do-adapter
[submodule "dm-timestamps"]
	path = dm-timestamps
	url = https://github.com/emmanuel/dm-timestamps
[submodule "dm-aggregates"]
	path = dm-aggregates
	url = git://github.com/datamapper/dm-aggregates.git
[submodule "dm-constraints"]
	path = dm-constraints
	url = git://github.com/datamapper/dm-constraints.git
[submodule "dm-rails"]
	path = dm-rails
	url = git://github.com/datamapper/dm-rails.git
[submodule "dm-active_model"]
	path = dm-active_model
	url = git://github.com/datamapper/dm-active_model.git
[submodule "dm-transactions"]
	path = dm-transactions
	url = git://github.com/datamapper/dm-transactions.git
[submodule "dm-observer"]
	path = dm-observer
	url = git://github.com/datamapper/dm-observer.git
[submodule "dm-dev"]
	path = dm-dev
	url = git://github.com/datamapper/dm-dev.git
[submodule "dm-yaml-adapter"]
	path = dm-yaml-adapter
	url = git://github.com/datamapper/dm-yaml-adapter.git
[submodule "dm-sqlite-adapter"]
	path = dm-sqlite-adapter
	url = git://github.com/datamapper/dm-sqlite-adapter.git
[submodule "dm-postgres-adapter"]
	path = dm-postgres-adapter
	url = git://github.com/datamapper/dm-postgres-adapter.git
[submodule "dm-mysql-adapter"]
	path = dm-mysql-adapter
	url = git://github.com/datamapper/dm-mysql-adapter.git
[submodule "dm-migrations"]
	path = dm-migrations
	url = git://github.com/datamapper/dm-migrations.git
[submodule "data_mapper"]
	path = data_mapper
	url = git://github.com/datamapper/data_mapper.git
[submodule "dm-adjust"]
	path = dm-adjust
	url = git://github.com/datamapper/dm-adjust.git
[submodule "dm-ar-finders"]
	path = dm-ar-finders
	url = git://github.com/datamapper/dm-ar-finders.git
[submodule "dm-cli"]
	path = dm-cli
	url = git://github.com/datamapper/dm-cli.git
[submodule "dm-ferret-adapter"]
	path = dm-ferret-adapter
	url = git://github.com/datamapper/dm-ferret-adapter.git
[submodule "dm-is-list"]
	path = dm-is-list
	url = git://github.com/datamapper/dm-is-list.git
[submodule "dm-is-nested_set"]
	path = dm-is-nested_set
	url = git://github.com/datamapper/dm-is-nested_set.git
[submodule "dm-is-remixable"]
	path = dm-is-remixable
	url = git://github.com/datamapper/dm-is-remixable.git
[submodule "dm-is-searchable"]
	path = dm-is-searchable
	url = git://github.com/datamapper/dm-is-searchable.git
[submodule "dm-is-state_machine"]
	path = dm-is-state_machine
	url = git://github.com/datamapper/dm-is-state_machine.git
[submodule "dm-is-tree"]
	path = dm-is-tree
	url = git://github.com/datamapper/dm-is-tree.git
[submodule "dm-is-versioned"]
	path = dm-is-versioned
	url = git://github.com/datamapper/dm-is-versioned.git
[submodule "dm-models"]
	path = dm-models
	url = git://github.com/datamapper/dm-models.git
[submodule "dm-rest-adapter"]
	path = dm-rest-adapter
	url = git://github.com/datamapper/dm-rest-adapter.git
[submodule "dm-serializer"]
	path = dm-serializer
	url = git://github.com/datamapper/dm-serializer.git
[submodule "dm-sweatshop"]
	path = dm-sweatshop
	url = git://github.com/datamapper/dm-sweatshop.git
[submodule "dm-tags"]
	path = dm-tags
	url = git://github.com/datamapper/dm-tags.git
[submodule "do"]
	path = do
	url = git://github.com/datamapper/do.git
[submodule "extlib"]
	path = extlib
	url = git://github.com/datamapper/extlib.git
[submodule "rails_datamapper"]
	path = rails_datamapper
	url = git://github.com/datamapper/rails_datamapper.git
[submodule "datamapper.github.com"]
	path = datamapper.github.com
	url = git://github.com/datamapper/datamapper.github.com.git
[submodule "dm-accepts_nested_attributes"]
	path = dm-accepts_nested_attributes
	url = https://github.com/snusnu/dm-accepts_nested_attributes.git
[submodule "veritas"]
	path = veritas
	url = git://github.com/dkubb/veritas.git
[submodule "veritas-optimizer"]
	path = veritas-optimizer
	url = git://github.com/dkubb/veritas-optimizer.git
[submodule "veritas-sql-generator"]
	path = veritas-sql-generator
	url = git://github.com/dkubb/veritas-sql-generator.git
[submodule "dm-mongo-adapter"]
	path = dm-mongo-adapter
	url = git://github.com/solnic/dm-mongo-adapter.git
[submodule "dm-redis-adapter"]
	path = dm-redis-adapter
	url = git://github.com/whoahbot/dm-redis-adapter.git
